/* Write your CSS here */
.para {
  color: #000000;
  font-family: 'Roboto';
}

.button {
  color: #ff0b37;
  background-color: transparent;
  border: 1px solid #ff0b37;
  height: 30px;
  width: 80px;
  border-radius: 10px;
}

.list-cont {
  list-style-type: none;
}
